<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>

<body>
<nav>
    <div class="nav-wrapper indigo">
        <a class="brand-logo center" href="#">Restaurant Manager API</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/api/redoc/" target="_blank">Documentation</a></li>
        </ul>
    </div>
</nav>
<main style="display: flex; justify-content: center; margin-top: 3em;">
    <img class="materialboxed" src="https://img.randme.me/" width="650">
</main>
<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
